<main>

    <section class="container-principal">

        <h1 class="title">Pedidos</h1>


        <div class="consultas">

            <button (click)="onVoltar()">Voltar</button>

            <select name="status" id="status" (change)="getClientWithOrdersByStatus(status.value)" #status>
                <option value="">TODAS</option>
                <option value="WAITING">EM ANDAMENTO</option>
                <option value="SENT">ENVIADAS</option>
                <option value="READY">PRONTAS</option>
                <option value="FINISHED">FINALIZADAS</option>
                <option value="CANCELED">CANCELADAS</option>
            </select>

            <input type="text" class="search" placeholder="Buscar" #searchName
                (keyup)="getClientWithOrdersByEstablishmentName(searchName.value)">
        </div>

        <div class="comandas">

            <p *ngIf="this.client.ordersClient.length == 0" >Nenhuma comanda iniciada :(</p>
            
            <app-card-comanda *ngFor="let order of this.client.ordersClient" [order]="order" ></app-card-comanda>
            
        </div>

    </section>
</main>