<body>

    <section class="container-principal">

        <h1 class="title">Pedidos</h1>


        <div class="consultas">

            <button (click)="onVoltar()">Voltar</button>

            <input type="text" class="search" placeholder="Buscar" [(ngModel)]="this.searchName"
                (keyup)="searchByName()">
        </div>

        <div class="comandas">

            <p *ngIf="this.client.ordersClient.length == 0" >Nenhuma comanda iniciada :(</p>
            
            <app-card-comanda *ngFor="let order of this.client.ordersClient" [order]="order" ></app-card-comanda>
            
        </div>

    </section>
</body>