<form #clientUpdatePasswordForm="ngForm">

  <h1>Informações de Contato</h1>

  <div>
  <label for="">Senha Atual</label>
  <input type="password" [(ngModel)]="passwordUpdate.currentPassword" required name="currentPassword" id="currentPassword">

  <label for="email">Nova Senha</label>
  <input type="password" [(ngModel)]="passwordUpdate.newPassword" required name="newPassword" id="newPassword">
</div>
  
<button (click)="doSave()" [disabled]="clientUpdatePasswordForm.form.invalid">Salvar</button>

</form>