<form #clientUpdatePasswordForm="ngForm">

  <h1>Informações de Contato</h1>

  <label for="">Senha Atual</label>
  <input type="password" [(ngModel)]="passwordUpdate.currentPassword" name="currentPassword" id="currentPassword">

  <label for="email">Nova Senha</label>
  <input type="password" [(ngModel)]="passwordUpdate.newPassword" name="newPassword" id="newPassword">

  <button (click)="doSave()" [disabled]="clientUpdatePasswordForm.invalid">Salvar</button>
  {{ passwordUpdate | json }}
</form>