

  <div class="order" (click)="openOrder()">
    <div class="container-principal">
      <div class="command">
        <p> Comanda #{{ order.idOrder }}</p>
        <img *ngIf="order.status == 'READY'" src="../../../../../assets/feito 1.svg">
        <img *ngIf="order.status == 'SENT'" src="../../../../../assets/image 47.svg">
        <img *ngIf="order.status == 'CANCELED'" src="../../../../../assets/image 49.svg">
      </div>
      <div class="info">
        <p> Cliente: {{ order.nameClient }}</p>
        <p> Emissão: {{ order.IssueDate | date : 'h:mm a'}}</p>
        <p> Finalizada: {{ order.closingDate | date : 'h:mm a'}}</p>
      </div>
    </div>
  </div>

