<main>

  <section class="container-options">

    <div class="options">
      
      <p class="title is-3">Olá {{ nameUser }}</p>

      <ul>
        <li (click)="onInfoPessoais()"><img src="../../../../assets/profile/icone-pessoais.svg">Opções de perfil</li>
        <li (click)="onInfoContato()"><img src="../../../../assets/profile/icone-contato.svg">Opções de contato</li>
        <li (click)="onAlterPassword()"><img src="../../../../assets/profile/icone-cadeado.svg">Alterar senha</li>
        <li (click)="onDeleteUser()"><img src="../../../../assets/profile/icone-deleteuser.svg">Deletar Usuário</li>
      </ul>
      
      <button (click)="onVoltar()">Voltar</button>
    </div>

  </section>

  <section class="container-form">

    <router-outlet></router-outlet>

  </section>


</main>