<div class="menu-lateral">
    <ul>
        <a (click)="onCadastrarConsumivel()"><li><img [ngStyle]="{'visibility': (theme() ? 'hidden' : 'visible')}" src="../../../../assets/menu-lateral/img-items-menu/icone-adicionar.svg">Cadastrar Cosumivel</li></a>
        <a (click)="onConsumiveis()"><li><img [ngStyle]="{'visibility': (theme() ? 'hidden' : 'visible')}" src="../../../../assets/menu-lateral/img-items-menu/icone-consumiveis.svg">Consumiveis</li></a>
        <a (click)="onComanda()"><li><img [ngStyle]="{'visibility': (theme() ? 'hidden' : 'visible')}" src="../../../../assets/menu-lateral/img-items-menu/Icone-pedidos.svg">Comandas</li></a>
        <a (click)="onPerfil()"><li><img [ngStyle]="{'visibility': (theme() ? 'hidden' : 'visible')}" src="../../../../assets/menu-lateral/img-items-menu/icone-perfil.svg">Perfil</li></a>
        <a (click)="onSair()"><li><img [ngStyle]="{'visibility': (theme() ? 'hidden' : 'visible')}" src="../../../../assets/menu-lateral/img-items-menu/Icone-sair.svg">Sair</li></a>
    </ul>
</div>