<main>
  <section>
    <h1 class="title is-1">Comandas</h1>

    <div class="consultas">
      <button class="button-back" (click)="onVoltar()">Voltar</button>
      <input type="number" class="search" [placeholder]="'Buscar por ID'" [(ngModel)]="idSearch" (keyup)="getOrderById()">
    </div>

    <div class="orders">
      <app-order-card *ngFor="let order of this.establishment.orders" [order]="order"></app-order-card>
      <p *ngIf="!establishment.orders.length" class="subtitle is-3 mt-6">Nenhuma Comanda Encontrada</p>
    </div>

  </section>
</main>