<main>
    <section>

        <div id="container-image-title">
            <img id="image-consumable" [src]="consumable.image">
            <div (click)="updateImage()">
                <img src="../../../../../../assets/profile/edit 2.svg">
            </div>
        </div>
        <p class="title">{{ currentDish.name }}</p>
        <div id="container-select">
            <div id="div-input">
                <div class="div-for-input">
                    <label for="">Nome</label>
                    <input id="name" type="text" [placeholder]="currentDish.name" [(ngModel)]="dish.name">
                </div>
                <div class="div-for-input">
                    <label for="">Valor</label>
                    <input id="price" type="text" [placeholder]="currentDish.price | currency: 'BRL'"
                        [(ngModel)]="dish.price">
                </div>
            </div>
            <div id="div-textarea-select">
                <div class="div-for-input">
                    <label for="">Descrição</label>
                    <textarea name="" id="description" cols="30" rows="10" [placeholder]="currentDish.description"
                        [(ngModel)]="dish.description"></textarea>
                </div>
                <div class="div-for-input">
                    <label for="">Tipos</label>
                    <select name="" [(ngModel)]="dish.categoryDish" id="category">
                        <option value="" disabled>{{ numberToString() }}</option>
                        <option value="0">Cheesburguer</option>
                        <option value="1">Sobremesa</option>
                        <option value="2">Porcao</option>
                        <option value="3">Vegano</option>
                        <option value="4">Marmita</option>
                        <option value="5">Sushi</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="container-button">
            <button (click)="onBack()">Voltar</button>
            <button (click)="putDish()" [disabled]="currentDish.name == dish.name && currentDish.price == dish.price && currentDish.description == dish.description">Salvar consumivel</button>
        </div>

    </section>
    <app-image *ngIf="onRegisterImage" [text]="textOptionsImage"></app-image>

</main>