<div class="menu-lateral">
    <ul>
        <a (click)="onfindEstablishment()"><li><img src="../../../../assets/menu-lateral/img-items-menu/icone-busca.svg">Buscar Restaurantes</li></a>
        <a (click)="onPedidos()"><li><img src="../../../../assets/menu-lateral/img-items-menu/Icone-pedidos.svg">Pedidos</li></a>
        <a (click)="onPerfil()"><li><img src="../../../../assets/menu-lateral/img-items-menu/Icone-perfil.svg">Perfil</li></a>
        <a routerLink=""><li><img src="../../../../assets/menu-lateral/img-items-menu/icone-sobrenos.svg">Sobre nós</li></a>
        <a routerLink=""><li><img src="../../../../assets/menu-lateral/img-items-menu/icone-perguntas.svg">Perguntas Frequentes</li></a>
        <a (click)="onSair()"><li><img src="../../../../assets/menu-lateral/img-items-menu/Icone-sair.svg">Sair</li></a>
    </ul>
</div>