<div class="menu-lateral">
    <ul>
        <a (click)="onfindEstablishment()"><li><img src="../../../../assets/menu-lateral/img-items-menu/icone-busca-{{ theme() }}.svg">Buscar Restaurantes</li></a>
        <a (click)="onPedidos()"><li><img src="../../../../assets/menu-lateral/img-items-menu/icone-pedidos-{{ theme() }}.svg">Pedidos</li></a>
        <a (click)="onPerfil()"><li><img src="../../../../assets/menu-lateral/img-items-menu/icone-perfil-{{ theme() }}.svg">Perfil</li></a>
        <a (click)="onSair()"><li><img src="../../../../assets/menu-lateral/img-items-menu/icone-sair-{{ theme() }}.svg">Sair</li></a>
    </ul>
</div>

