<form #clientUpdateContactForm="ngForm">

    <h1>Informações de Contato</h1>

    <label for="phone">Telefone</label>
    <input type="phone" [placeholder]="currentContactUpdate.phone" [(ngModel)]="newContactUpdate.phone" name="phone" id="phone">

    <label for="email">Email</label>
    <input type="email" [placeholder]="currentContactUpdate.email" [(ngModel)]="newContactUpdate.email" name="email" id="email">

    <button (click)="doSave()" [disabled]="newContactUpdate.email == '' && newContactUpdate.phone == ''">Salvar</button>
</form>