<form #clientUpdateContactForm="ngForm">

    <h1>Opções de Contato</h1>

    <div>
        <label for="phone">Telefone</label>
        <input type="number" [placeholder]="currentContactUpdate.phone" [(ngModel)]="newContactUpdate.phone" name="phone"
            id="phone" maxlength="11" minlength="8">

        <label for="email">Email</label>
        <input type="email" [placeholder]="currentContactUpdate.email" [(ngModel)]="newContactUpdate.email" name="email"
            id="email" size="10" minlength="12">
    </div>

    <button (click)="doSave()" [disabled]="newContactUpdate.email == '' && newContactUpdate.phone == '' || clientUpdateContactForm.form.invalid">Salvar</button>
</form>