<main>

    <section>

        <h1>Comanda</h1>

        <div class="container-order">
            <h2>McDonalds</h2>

            <div>
                <app-item-info></app-item-info>
            </div>

            <h3>Total</h3>
        </div>

        <div class="container-buttons">

            <div>
                <button>Voltar</button>
                <button>Cancelar Pedido</button>
            </div>

            <button>Enviar Comanda</button>

        </div>

    </section>

</main>