<div class="container-principal">

  <h1>{{ establishmentWithOrderReady.name}}</h1>

  <div class="orders">

    <div id="card" *ngFor="let order of establishmentWithOrderReady.ordersFinised">
      
      <div class="title">
        <h3>Comanda: {{order.idOrder}} </h3>
        <a (click)="setStatusOrderToFinished(order.idOrder)">X</a>
      </div>

      <div class="order-content">
        <h2>{{ order.nameClient }}</h2>
        <p>Retire seu pedido no balcão</p>
      </div>

      <h2 class="time-order">{{ order.closingDate | date: 'h:mm a' }}</h2>
    </div>

    <p class="message" *ngIf="establishmentWithOrderReady.ordersFinised.length == 0">Acompanhe o seu pedido pela tela do seu celular :)</p>

  </div>

  <a routerLink="/home-establishment/{{this.establishmentWithOrderReady.id}}" target="_blank"><button>Abrir em uma nova janela</button></a>

</div>