<section>
    <div class="conteiner-image">
        <img [src]="image">
    </div>
    <div class="conteiner-form">
        <form>
            <label for="name">Nome</label>
            <input type="text" name="name" [value]="currentEstablishmentUpdate.name" id="name" maxlength="20" minlength="2">

            <label for="timeToOpen">Hora de Abertura</label>
            <input type="time" name="timeToOpen" [value]="currentEstablishmentUpdate.timeToOpen" id="timeToOpen">

            <label for="timeToClose">Hora de Fechamento</label>
            <input type="time" name="timeToClose" [value]="currentEstablishmentUpdate.timeToClose" id="timeToClose" size="10" minlength="12">
        </form>
    </div>
</section>
