  <main>
      
      <section class="container">
            <h1 class="title is-1">Cadastrar Consumível</h1>
    
            <div class="cards">
                <div class="card" (click)="createDish()">
                    <h2>Prato</h2>
                    <img class="img" src="../../../assets/consumables/pratos.svg" alt="" id=pratos  >
                </div>
    
                <div class="card" (click)="createDrink()">
                    <h2>Bebida</h2>
                    <img class="img" src="../../../assets/consumables/drinks.svg" alt="" id=drinks>
                </div>
            </div>
        </section>

  </main>
  