<nav class="principal-header">

    <!-- BUTTON MENU -->

    <div class="container-button">
        <button class="menu-button">
            <img *ngIf="mostrarMenuLateral" class="menu-image" src="../../assets/menu_FILL0_wght400_GRAD0_opsz48.svg"
                alt="Menu" (click)="onMenuLateral()" [ngStyle]="{
                'opacity': (menuLateralAberto  ? '0%' : '100%')}">
        </button>
    </div>

    <!-- LOGO REQUESTFOOD -->

    <div class="container-logo">

        <img (click)="onMenu()" class="logo-image-header" src="../../assets/logoheader.svg" alt="Início"
            [ngStyle]="{'left':(menuLateralAberto ? '295px' :'0px')}">

    </div>

    <!-- MENU LATERAL -->

    <div (mouseleave)="onFechar()" [ngStyle]="{'left': (menuLateralAberto ? '0px' : '-550px')}" class="menu-lateral">

        <img class="x-image-menu-lateral" src="../../assets/marca-x 1.svg" [ngStyle]="{
            'opacity': (menuLateralAberto ? '100%' : '0%'),
            'transform': (menuLateralAberto ? 'rotate' + '(180deg)' : 'none')}">

        <app-menu-item-client class="items" [user]="userAutenticado" *ngIf="userAutenticado.role == 'CLIENT_USER'">
        </app-menu-item-client>
        <app-menu-item-establishment class="items" [user]="userAutenticado"
            *ngIf="userAutenticado.role == 'ESTABLISHMENT_USER'"></app-menu-item-establishment>
    </div>

    <!-- VALOR DA COMANDA -->

    <div class="container-preco">
        <preco-header *ngIf="userAutenticado.role == 'CLIENT_USER'"></preco-header>
    </div>
</nav>