<main>

    <section>
    
        <div id="conteiner-principal" >
            <div id="conteiner-image">
                <img src="{{ consumable.image }}" alt="">
            </div>
        
            <div id="conteiner-second">
                <div id="conteiner-info">

                    <h2>BigMac</h2>
                    <p>Dois hambúrgueres (100% carne bovina), alface americana, queijo sabor cheddar, molho especial, cebola, picles e pão com gergelim.</p>
                    <!-- <h2>{{ consumable.name }}</h2> -->
                    <!-- <p>{{ consumable.description }}</p> -->
                    <input type="text" name="" placeholder="Obs: Tirar cebola, alface etc." [(ngModel)]="item.obsItem">
                    <div id="conteiner-quantity">
                        <button (click)="remQuantity()">-</button>
                        <button (click)="addQuantity()">+</button>
                        <p>{{ item.quantityItem }}</p>
                    </div>
                    
                </div>
            </div>
        </div>

        <div id="conteiner-buttons">
            <button>Voltar</button>
            <button (click)="createItem()">Adicionar {{ amount }}</button>
        </div>

    </section>

</main>